<!-- template for footer designed to be used in other views, i.e. a "partial view" -->

<footer class="bg-light text-center text-lg-start" id="footer">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Hugh Jiang
    </div>
</footer>